@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* remove horizontal scroll */
html {
  overflow-x: hidden;
}
/* hide the scrollbar, just the pill should be shown*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
